services:
  opendaylight:
    build:
      context: ./
      dockerfile: dockerfile.jupyter
    container_name: odl_controller
    ports:
      - "8888:8888"          


  gateway:
    build: 
      context: .
      dockerfile: dockerfile.gateway  
    container_name: odl-gateway
    volumes:
      - ./web_porxy_nginx:/var/www/dashboard    
    ports:
      - "8080:8080"      

  

